body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.profile-img {
    border: 3px solid black;
    border-radius: 150px;
}

.about-me {
    color: #222222;
    background-color: #eac4d5;
    /* width: 1350px;
    margin-right: auto;
    margin-left: auto; */
    padding: 20px;
    border: 3px solid #95b8d1 ;
    border-radius: 30px;
}

.ellies-corner {
    background-color: #ffda9e;
}

.ellies-corner-h1 {
    font-family: "Bradley Hand", "Segoe Print", "Chalkboard SE", "Comic Sans MS", cursive;
}

.ellies-corner-p {
    font-family: "Bradley Hand", "Segoe Print", "Chalkboard SE", "Comic Sans MS", cursive;
    font-size: large;
}

.ellies-corner-img {
    border: 3px solid black;
    border-radius: 50px; 
}